@charset "UTF-8";

/* .board {
	font-size:xx-large;
	background-color: blue;
	text-align: center;
	color: navy;
} */
p {
	font-family: fantasy;
	font-size: large;
	background-color: aqua;
	text-align: center;
	color: navy;
	font-weight: 500;
}

body {
	background-image: url("resources/KNIFEimg/background.jpg");
/* 	background-size: contain; */
}