@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap')
	;

#backGHomePage {
	background-image: url(KNIFEimg/background1.jpg) !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: .82;
}

body {
	/* background-image: url(KNIFEimg/background2.jpg) !important; */
	/* background-position: center center; */
	/* background-repeat: no-repeat; */
	/* background-attachment: scroll;
	background-size: cover; */
	/* opacity: .89; */
	/*  background:#D4FBFC !important;  */
}

#kwbg {
	/* background-image: url(KNIFEimg/background3.jpg) !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	 */
}

#udBG {
	/* background-image: url(KNIFEimg/background4.jpeg) !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: .82; */
	
	
}



.title {
	color: #000000;
	font: 17px 'Merienda One', cursive;
	font-weight: normal;
}

#maker {
	font-size: 2.25em !important;
}

h1 {
	
	font: 17px 'Merienda One', cursive;
	font-weight: normal;
	font-size: 2.75em;
	font-stretch: wider;	
}

label {
	
	font: 17px 'Merienda One', cursive;
	font-weight: bolder;
	font-size: 1.55em;
}

h4{
	font: 17px 'Merienda One', cursive;
	font-weight: bolder;
	font-size: 1.55em;
}